body{

    margin: auto;
    width: 70%;
    text-align: center;
}
.display{
    font-size: 20px
}
p{

    width: 90%
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
}

#play{
    background-color: red;
    color:white;

}
/* because playagain and help are given the same rules, you could probably declare one class instead and use that twice */
#playagain{

    background-color: red;
    color:white
}
#help{
    
    background-color: red;
    color:white
}
.title{
    color: red;
    text-decoration: underline;
    
}

#winner{
    color: #ff0000;
    font-size: 50px;
}

/*same thing over here*/
#prize{
    color: #ff0000;
    font-size: 20px
}
#gameOver{
    color: #ff0000;
    font-size: 20px
}

.advice{
    font-size: 20px;
}
.numGuesses{
    font-size: 20px;
}